


.dashboard-page {
    display: grid;
    grid-template-rows: auto auto;
    gap: 1rem;
    height: 85dvh;
    margin: 0;
    position: relative;
    
    .row {
        display: grid;
        grid-template-columns: auto auto;
        gap: 1rem;
    }

    .block {
        background-color: #0e1214d5;
        padding: 20px 30px;

        .projects-holder {
            display: grid;
            grid-template-columns: repeat(auto-fill, auto);
            /* gap: 1rem; */
        
            margin: 2rem 0 0 0;
            width: 100%;
            height: 90%;
            /* border: 1px solid var(--faded-gray); */
            
            .link {
                position: relative;
                overflow: hidden;
                color: var(--light-gray);
                text-decoration: none;
                font-weight: 500;
                transition: var(--quick);
                border: 2px solid transparent;
                background-color: rgba(0, 0, 0, 0.316);
                width: 380px;
                padding: 20px;
                border-radius: var(--round-xsmall);
                opacity: 1;
                cursor: pointer;

                .vignette {
                    position: absolute;
                    inset: 0;
                    width: 380px;
                    z-index: 6;
                    display: block;
                    content: "";
                    background-image: radial-gradient( rgba(0, 0, 0, 0.049), rgba(0, 0, 0, 0.813));
                    background-position: left;
                    transform: scale(1.2);
                    overflow: hidden;
                }
                
                
                .color-theme {
                    position: absolute;
                    inset: 0;
                    height: 380px;
                    width: 600px;
                    z-index: 5;
                    display: block;
                    content: "";
                    
                    &.green {
                        opacity: 0.8;
                        background-image: linear-gradient(to left, rgba(0, 197, 122, 0.759),rgba(0, 197, 181, 0.685),rgba(4, 238, 218, 0.29));
                    }
                    &.ocean-blue {
                        opacity: 0.8;
                        background-image: linear-gradient(to right, rgba(0, 136, 255, 0.767), rgba(44, 79, 185, 0.578), rgba(35, 52, 118, 0.405));
                    }
                }

                .top-div {
                    display: flex;
                    flex-direction: column;
                    align-items: left;
                    justify-content: center;
                    margin-bottom: 3rem;
                    z-index: 10;
                    position: relative;
                    .h2 {
                        font-size: 1.5rem;
                        font-family: var(--heading-font);
                        margin: 0;
                        padding: 0;
                        width: fit-content;
                        text-shadow: var(--shadow-m-offset);
                    }
                    .organization {
                        font-size: 1.2rem;
                        font-family: var(--heading-font);
                        text-shadow: var(--shadow-m-offset);
                        margin: 0;
                        padding: 0;
                        width: fit-content;
                    }
                }

                .bottom-div {
                    display: flex;
                    flex-direction: row;
                    /* justify-content: space-between; */
                    width: 100%;    
                    height: fit-content;       
                    z-index: 10;
                    position: relative;
                    .bottom-info {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        width: 100%;           
                        height: fit-content;       
                        
                        .members-count {
                            font-size: 1.2rem;
                            font-family: var(--heading-font);
                            margin: 0;
                            padding: 0;
                            width: fit-content;
                            display: flex;
                            height: fit-content; 
                            
                            img {
                                width: 20px;
                                height: 20px;
                                margin: auto;
                            }
                            p {
                                font-size: 0.9rem;
                                padding: 0;
                                margin: 0;
                            }
                        }
                        .last-updated {
                            font-size: 0.6rem;
                            font-family: var(--heading-font);
                            margin: auto 0px auto auto;
                            padding: 0;
                            width: fit-content;
                        }
                    }
                             
                }
    
                &:hover {
                    /* color: var(--cyan); */
                    border: 2px solid var(--light-gray);
                }

                .background {
                    z-index: 0;
                    position: absolute;
                    inset: 0;
                    opacity: 0.6;
                    object-fit: cover;
                    width: 380px;
                }
            }
        }

    }

    .right-box {
        display: grid;
        grid-template-rows: auto auto;
        gap: 1rem;
        max-width: 30dvw;
    }

    .seventy-auto-bento-columm {
        display: grid;
        grid-template-columns: 70% auto;
        gap: 1rem;
    }

}